<div class="search-div">
    <button mat-raised-button (click)="onCreate()">
        <mat-icon>person_add</mat-icon>Create
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (Click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="clientName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.clientName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cinNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>CIN No.</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cinNo}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="coContactno">
            <mat-header-cell *matHeaderCellDef mat-sort-header>CO Contact No.</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.coContactno}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="coemail" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>CO Email ID</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.coemail}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="itContactno" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>IT Contact No.</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.itContactno}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="itemail" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>IT Email ID</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.itemail}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onEdit()"><mat-icon>edit</mat-icon></button>
                <a target="_blank" href="http://localhost:4200/clientdetalis"><button mat-icon-button ><mat-icon>open_in_browser</mat-icon></button></a>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="8">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="8">
                No Data.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>

