mat-form-field {
    margin-left: 10px;
}


mat-header-cell {
    font-weight: bolder;
    font-size: 4mm;
}

#client-table{
    width: 1460px;
}

.w-125{
    max-width: 125px;
}

.w-200 {
    max-width: 200px;
}