<div class="search-div">
    <button mat-raised-button (click)="onCreate()">
        <mat-icon>person_add</mat-icon>Create
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (Click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>

<div class="mat-elevation-z8" id="client-table">
    <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="cmName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cmName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cmCin">
            <mat-header-cell *matHeaderCellDef mat-sort-header>CIN No.</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cmCin}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cmAddress" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cmAddress}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cmCocontactNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>CO Contact No.</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cmCocontactNo}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cmCoemailId" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>CO Email ID</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cmCoemailId}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cmItcontactNo" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>IT Contact No.</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cmItcontactNo}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cmItemailId" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>IT Email ID</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cmItemailId}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cmCreatedBy" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Created By</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cmCreatedBy}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cmCreatedOn" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Created On</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cmCreatedOn}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cmIdPk">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a target="_blank" routerLink="/updateclient/{{row.cmIdPk}}"><button mat-icon-button><mat-icon>edit</mat-icon></button></a>
                <a target="_blank" routerLink="/clientdetails/{{row.cmIdPk}}" ><button mat-icon-button ><mat-icon>open_in_browser</mat-icon></button></a>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="8">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="8">
                No Data.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>
<br>

