<app-navbar></app-navbar>
<div class="container">
    <mat-toolbar class="dashboardToolbar">
        <span class="fill-remaining-space"></span>
        <span>Dashboard</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>

    <div class="search-div">
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (Click)="onSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
        <mat-table [dataSource]="listData" matSort>
            <ng-container matColumnDef="clientName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.clientName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="cinNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>CIN No.</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.cinNo}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="noActiveDP">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Number of Active DP</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.noActiveDP}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="subPlan">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Subscription Plan</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.subPlan}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="fromDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>From Date</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.fromDate}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="toDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>To Date</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.toDate}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    No Data.
                </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    
    </div>

</div>
