<app-navbar></app-navbar>
<div class="container">
    <mat-toolbar class="dashboardToolbar">
        <span class="fill-remaining-space"></span>
        <span>Subscription Detalis</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>

    <div class="search-div">
        <i class="fas fa-search"></i>
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

     <div class="mat-elevation-z8" id="sub-table">
        <mat-table [dataSource]="listData" matSort>
            <ng-container matColumnDef="smCIN">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="clientinfo">CIN No.</mat-header-cell>
                <mat-cell *matCellDef="let element" class="clientinfo" ngbTooltip="{{element.smCIN}}">{{element.smCIN}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="smClientName">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="clientinfo">Company Name</mat-header-cell>
                <mat-cell *matCellDef="let element" class="clientinfo" ngbTooltip="{{element.smClientName}}">{{element.smClientName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="smActiveDpcount">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="clientinfo">Active DPs</mat-header-cell>
                <mat-cell *matCellDef="let element" class="clientinfo" ngbTooltip="{{element.smActiveDpcount}}">{{element.smActiveDpcount}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="smSubscriptionPlan">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="clientinfo">Subscription Plan</mat-header-cell>
                <mat-cell *matCellDef="let element" class="clientinfo" ngbTooltip="{{element.smSubscriptionPlan}}">{{element.smSubscriptionPlan}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="smCreatedByName">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="clientinfo">Created By</mat-header-cell>
                <mat-cell *matCellDef="let element" class="clientinfo" ngbTooltip="{{element.smCreatedByName}}">{{element.smCreatedByName}}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="smCreatedOnstr">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="clientinfo">Created On</mat-header-cell>
                <mat-cell *matCellDef="let element" class="clientinfo" ngbTooltip="{{element.smCreatedOnstr}}">{{element.smCreatedOnstr}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="smFromDatestr">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="clientinfo">From Date</mat-header-cell>
                <mat-cell *matCellDef="let element" class="clientinfo" ngbTooltip="{{element.smFromDatestr}}">{{element.smFromDatestr}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="smToDatestr">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="clientinfo">To Date</mat-header-cell>
                <mat-cell *matCellDef="let element" class="clientinfo" ngbTooltip="{{element.smToDatestr}}">{{element.smToDatestr}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="smIdPk">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button (click)="download(row.smIdPk)" mat-icon-button><mat-icon>file_download</mat-icon></button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="9">
                    Loading data...
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="9">
                    No Data.
                </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="10" showFirstLastButtons></mat-paginator>

    </div> 
    <br>
    <br>
</div>
<style>
    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        text-decoration: solid;
        padding: 5px;
        background-color: #6C63FF;
        color: white;
        text-align: center;
    }
</style>

<div class="footer">
    <p>© Axar Digital Services Private Limited.(Enterprise - Ver 1.0.3)</p>
</div>