mat-form-field {
    margin-left: 10px;
}

.dashboardToolbar {
    background-color:#6C63FF;
    color: azure;
}

.search-div{
	color: #6C63FF;
	display: flex;
	size: 40px;
	align-items: center;
}


*{
    padding: 0%;
    margin: 0;
}
