mat-form-field {
    margin-left: 10px;
}

.dashboardToolbar {
    background-color:#6C63FF;
    color: azure;
    text-align:center ;
    margin: auto;
    width: 1460px;
    font-size: 30px;
}

.search-div{
	color: #6C63FF;
	display: flex;
	size: 40px;
	align-items: center;
}

#sub-table{
  margin: auto;
  align-items: center;
  width: 1460px;
}

mat-header-cell {
    font-weight: bolder;
    font-size: 4mm;
}

.w-125 {
  text-align: center;
}

*{
    padding: 0%;
    margin: 0;
}

#customers {
  border-collapse: collapse;
  width: 1460px;
}

#customers td{
  border: 1px solid #ddd;
  padding: 8px;
  height: 50px;
  font-size: 15px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6C63FF;
  color: white;
  border: 1px solid #ddd;
  padding: 8px;
  height: 50px;
  font-size: 18px;
}
