<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<header>
    <div class="tophead">

        <div class="hamburger topheaditem">
            <span class="menulines" (click)="openNav()">&#9776;</span>
        </div>
        <a routerLink="/mainmenu" href="#">
            <div class="brandlogo topheaditem">
                InsiderLens
            </div>
        </a>
        <div class="userlogo topheaditem" (click)="openUser()">
            <i class="fas fa-user"></i>
        </div>

    </div>
</header>

<nav class="sidebar" id="sidebar">

    <ul>
        <a href="javascript:void(0)" class="closeBtn" (click)="closeNav()">&times;</a>

        <li><a routerLink="/mainmenu"><i class="fas fa-tachometer-alt"></i>&nbsp; Main-Menu</a></li>

        <li><a routerLink="/#" id="show_user_management" (click)="show_user_management()"><i
                    class="fas fa-address-book"> </i>&nbsp; Client Master Form<i class="fas fa-caret-down"></i></a>
            <ul id="user_management_show">
                <li><a routerLink="/clients"><i class="fas fa-user-plus"></i>&nbsp; View & Add</a></li>
            </ul>
        </li>

        <li><a routerLink="/#" id="show_data_definition" (click)="show_data_definition()"><i
                    class="fas fa-address-card"></i>&nbsp; Subscription Form <i class="fas fa-caret-down"></i></a>
            <ul id="data_definition_show">
                <li><a routerLink="/#" id="show_id_info" (click)="show_id_info()"><i
                            class="fas fa-folder-plus"></i>&nbsp; New<i class="fas fa-caret-down"></i></a>
                    <ul id="id_info_show">
                        <li><a routerLink="/subscription" (click)="button_subscription()"><i
                                    class="fas fa-plus"></i>&nbsp; Add</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><a routerLink="/#" id="show_designated_person" (click)="show_designated_person()"><i
                    class="fas fa-users"></i>&nbsp; User-Manual</a>
        </li>
    </ul>
</nav>

<br>
<br>

<div class="userInfo" style="width: 18rem;" id="userInformation" style="width: 0px;">
    <a href="javascript:void(0)" class="closeUser" (click)="closeUser()">&times;</a>
    <div class="user">
        <div class="user_img">
            <img src="https://img.icons8.com/color/96/000000/circled-user-male-skin-type-4--v2.png"
                alt="user image">
        </div>
        <div class="user_detail">
            <h4>{{firstname}} {{lastname}}</h4>
            <h5>{{username}}</h5>
            <button type="button" class="btn btn-primary" (click)="logout_clicked()">Logout</button>
        </div>
    </div>

</div>