<div style='overflow-x:hidden; overflow-y:hidden;'>
	<img class="wave" src="../../assets/Img/wave.png">
	<div class="container">
		<div class="img">
			<img src="../../assets/Img/undraw_Online_collaboration_re_bkpm.svg">
		</div>
		<div class="login-content">
			<form #loginForm="ngForm" (submit)="loginClicked(loginForm)">
				<img src="../../assets/Img/axar-logo1.png">
				<h2 class="title">Welcome To Insiderlens</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div form-group">
           		   		<h5>Username</h5>
							<input type="text"  name="Username" ngModel id="username"  class="input form-control" #username="ngModel" required >
							<p *ngIf="username.touched && !username.valid">Please Enter Username</p>
							  
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
					<i class="fas fa-user-lock"></i>
           		   </div>
           		   <div class="div form-group">
           		    	<h5>Password</h5>
						   <input type="password" name="Password" ngModel  id="password" class="input form-control" #password="ngModel" required>
						   <p *ngIf="password.touched && !password.valid">Please Enter Password</p>			
            	   </div>
            	</div>
				<div class="form-group">
				<button  class="btn" [disabled]="!loginForm.valid">Login</button>
			    </div >
            </form>
		</div>
	</div>
</div>
