<mat-toolbar>
    <span>{{service.form.controls['$key'].value?"Modify Client":"New Client"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<form #Clientform="ngForm" [formGroup]="service.form" class="normal-form" (submit)="onSubmit(Clientform.value)"> 
    <mat-grid-list cols="2" rowHeight="500px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="$key">
                <label>Client Name *</label>
                <mat-form-field floatLabel="never" appearance="fill">
                    <input formControlName="clientName" matInput placeholder="Client Name *">
                    <mat-error *ngIf="service.form.controls['clientName'].errors?.required">This field is mandatory.</mat-error>
                    <mat-error *ngIf="service.form.controls['clientName'].errors?.minlength">Minimum a character is needed.</mat-error>
                    <mat-error *ngIf="service.form.controls['clientName'].errors?.maxlength">Maximum 100 characters can be entered.</mat-error>
                </mat-form-field>
                <label>CIN No *</label>
                <mat-form-field floatLabel="never" appearance="fill">
                    <input formControlName="cinNo" matInput placeholder="CIN No *">
                    <mat-error *ngIf="service.form.controls['cinNo'].errors?.required">This field is mandatory.</mat-error>
                    <mat-error *ngIf="service.form.controls['cinNo'].errors?.minlength">Minimum a character is needed.</mat-error>
                    <mat-error *ngIf="service.form.controls['cinNo'].errors?.maxlength">Maximum 50 characters can be entered.</mat-error>
                </mat-form-field>
                <label>CO Contact No</label>
                <mat-form-field floatLabel="never" appearance="fill">
                    <input formControlName="coContactno" matInput placeholder="CO Contact No">
                    <mat-error *ngIf="service.form.controls['coContactno'].errors?.minlength">Minimum a character is needed.</mat-error>
                    <mat-error *ngIf="service.form.controls['coContactno'].errors?.maxlength">Maximum 50 characters can be entered.</mat-error>
                    <mat-error *ngIf="service.form.controls['coContactno'].errors?.pattern">Only numbers are valid.</mat-error>
                </mat-form-field>
                <label>IT Contact No</label>
                <mat-form-field floatLabel="never" appearance="fill">
                    <input formControlName="itContactno" matInput placeholder="IT Contact No">
                    <mat-error *ngIf="service.form.controls['itContactno'].errors?.minlength">Minimum a character is needed.</mat-error>
                    <mat-error *ngIf="service.form.controls['itContactno'].errors?.maxlength">Maximum 50 characters can be entered.</mat-error>
                    <mat-error *ngIf="service.form.controls['itContactno'].errors?.pattern">Only numbers are valid.</mat-error>
                </mat-form-field>   
            </div>
        </mat-grid-tile>
        
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="$key">
                <label>Address</label>
                <mat-form-field floatLabel="never" appearance="fill">
                    <textarea formControlName="address" matInput placeholder="Address"></textarea>
                </mat-form-field>
                <label>CO Email ID *</label>
                <mat-form-field floatLabel="never" appearance="fill">
                    <input formControlName="coemail" matInput placeholder="CO Email ID *">
                    <mat-error *ngIf="service.form.controls['coemail'].errors?.required">This field is mandatory.</mat-error>
                    <mat-error *ngIf="service.form.controls['coemail'].errors?.email">Invalid Email Address.</mat-error>
                    <mat-error *ngIf="service.form.controls['coemail'].errors?.minlength">Minimum a character is needed.</mat-error>
                    <mat-error *ngIf="service.form.controls['coemail'].errors?.maxlength">Maximum 50 characters can be entered.</mat-error>    
                </mat-form-field>
                <label>IT Email ID *</label>
                <mat-form-field floatLabel="never" appearance="fill">                    
                    <input formControlName="itemail" matInput placeholder="IT Email ID *">
                    <mat-error *ngIf="service.form.controls['itContactno'].errors?.required">This field is mandatory.</mat-error>
                    <mat-error *ngIf="service.form.controls['itemail'].errors?.email">Invalid Email Address.</mat-error>
                    <mat-error *ngIf="service.form.controls['itemail'].errors?.minlength">Minimum a character is needed.</mat-error>
                    <mat-error *ngIf="service.form.controls['itemail'].errors?.maxlength">Maximum 50 characters can be entered.</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div class = "button-row">
        <div class="center">
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <button mat-raised-button color="primary" (click)="onClear()">Cancel</button>       
        </div>
    </div>
</form>

