.about-section {
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: #6C63FF;
    color: white;
  }
  
/* body {background: #ececec;} */
.p1
{
  font-size: 30px;
}
h1, h2, h3, h4, h5 {
  color: #000;
  padding-bottom: 8px
}
/* .container{
  display: flex;
} */
.clientdetalis {
  margin-left: 50px;
  width: 100%;
  text-align: center;
}
.listFlex {display: flex; justify-content: center;}
img{
  margin-bottom: 10px;
}

#client-table{
  margin: 50px;
  width: 1300px;
}
.dashboardToolbar{
  margin-left: 50px;
  width: 1300px;
}