<body>
    <div class="about-section">
        <br>
        <br>
        <p><b>Insider-Lens License </b></p>
    </div>
    <br>
    <br>
    <div class="p1"><p style="text-align:center;"><b>Client Information</b></p></div>
    <hr>
    <br>
    <div class="container">
        <img width="100px" height="100px" src="../../assets/Img/profile.jpg">
        <h1><b>Name :</b> Dan Englishby</h1>
        <h1><b>Number of Active DP :</b> 1</h1>
        <h1><b>CO Contact No. : </b>1.0079</h1>
        <h1><b>CO Email ID : </b>ajsn@gmail.com</h1>
        <h1><b>IT Contact No. : </b>231</h1>
        <h1><b>IT Contact No. : </b>anhsa@gmail.com</h1>
    </div>
</body>
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-decoration: solid;
        padding: 5px;
        background-color: #6C63FF;
        color: white;
        text-align: center;
    }
</style>

<div class="footer">
    <p>© Axar Digital Services Private Limited.(Enterprise - Ver 1.0.3)</p>
</div>