<app-navbar></app-navbar>
<form  #SubForm="ngForm" (submit)="onsubmit(SubForm)">
    <div class="container" id="sub-form">
        <span>Subscription Form</span>
    </div>
    <br>
    <br>
            <div class="controles-container">
                <input type="hidden" formControlName="$key">
                <label>Client Name:</label>
                <span>
                    <select name="" id="clientname" #ingre_qty>
                        <ng-container *ngFor="let clientNamesub of clientsName">
                            <option value="{{clientNamesub.cmIdPk}}">{{clientNamesub.cmName}}</option>
                        </ng-container>
                    </select>
                </span>
                <label for="subno">Number of Active DP *:</label>
                <input type="number" number id="subno" name="activeDP" ngModel class="input form-control" #subno="ngModel" required>
                <label for="subplan">Subscription Plan:</label>
                <span>
                    <select name="" id="subplan" #in_qty>
                        <option value="basic">Basic</option>
                        <option value="pro">Pro</option>
                        <option value="enterprise">Enterprise</option>
                        <option value="test">Test</option>
                    </select>
                </span>
                <label for="fromDate">From date:</label>
                <input type="datetime-local" id="fromDate" name="fromDate" min="1980-01-01T00:00"
                    max="2099-12-31T00:00" value="2020-06-12T19:30" class="input form-control" ngModel >
                <label for="toDate">To date:</label>
                <input type="datetime-local" id="toDate" name="toDate" min="2020-01-01T00:00" value="2020-06-12T19:30"
                    max="2099-12-31T00:00" class="input form-control" ngModel >
            </div>
    <div class="button-row">
        <div class="center">
            <button mat-raised-button color="primary" id="SubSubmit" [disabled]="!SubForm.valid" type="submit">Submit</button>
        </div>
    </div>
    
</form>